* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, sans-serif, Arial;
  font-size: 62.5%;
  color: #04030f;
}

.logo {
  font-size: 5rem;
}

.results,
.singleRestaurant {
  width: 100vw;
  background-color: #f9f2eb;
  padding: 1.5rem;
}
.line {
  width: 100%;
  height: 1px;
  background-color: #362417;
  opacity: 30%;
}
img {
  border-radius: 20px;
  border: 1rem solid #04030f;
}

.restaurantImage:hover {
  opacity: 70%;
  border: 1rem solid #f5b180;
}
.restaurantImage {
  width: 35vw;
  margin-left: 5rem;
}

.singleRestaurantImage {
  width: 75vw;
}
.searchResults {
  display: flex;
  flex-wrap: wrap;
}

.singleRestaurant {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
h1 {
  font-size: 3rem;
  margin-left: 5rem;
}

.header h1,
small {
  color: #f9f2eb;
}
p {
  margin-left: 5rem;
  font-size: 2rem;
}
.header,
footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  display: flex;
  align-items: center;
  /* background-color: #362417; */
  background-color: #04030f;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #92817a;
}
.sort {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #92817a;
}
#search {
  width: 60vw;
  height: 5vh;
}
.searchBar {
  background-color: #92817a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.background {
  min-height: 30vh;
  max-height: 60vh;
  background-image: url("./jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.root {
  font-size: 1.5rem;
  text-align: center;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #04030f;
}

.links,
.searchButton {
  height: 4rem;
  width: 5rem;
  border-radius: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.5rem;
  border: 1px solid white;
  cursor: pointer;
}

.restaurantInfo {
  margin-right: 10rem;
}

.details {
  width: 100vw;
}
.links p {
  font-size: 1.5rem;
}

.links {
  background-color: #f9f2eb;
}

.radio {
  width: 1rem;
  height: 1rem;
}

.favourite {
  border: #f9f2eb;
  background-color: #f9f2eb;
}
.heart {
  font-size: 5rem;
  cursor: pointer;
}

button:hover {
  opacity: 70%;
  cursor: pointer;
  color: #f5b180;
}

select:hover {
  opacity: 70%;
  cursor: pointer;
}
input:hover {
  opacity: 70%;
  cursor: pointer;
}
.stars {
  font-size: 2rem;
}
