.results,
.singleRestaurant {
  border: solid black 1px;
  background-color: pink;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 10px;
}
img {
  width: 50%;
  border-radius: 20px;
}
.searchResults {
  display: flex;
  flex-wrap: wrap;
}

.singleRestaurant {
  display: flex;
}
h1 {
  font-size: 2rem;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
