* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, sans-serif, Arial;
  font-size: 62.5%;
  color: #04030f;
}

.logo {
  font-size: 5rem;
}

input {
  border-radius: 2rem;
  padding: 1rem;
}
main {
  background-color: #f9f2eb;
}
.results,
.singleRestaurant {
  width: 100vw;
  padding: 1.5rem;
  margin-left: 1rem;
}
.singleRestaurant {
  line-height: 5rem;
}
.line {
  width: 100%;
  height: 1px;
  background-color: #362417;
  opacity: 30%;
}
img {
  border-radius: 20px;
  border: 1rem solid #04030f;
}

.restaurantImage:hover {
  opacity: 70%;
  border: 1rem solid #f5b180;
}
.restaurantImage {
  width: 30vw;
  margin-left: 1rem;
}

.singleRestaurantImage {
  width: 40vw;
}
.searchResults {
  display: flex;
  flex-wrap: wrap;
}

.singleRestaurant {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
h1 {
  font-size: 2.5rem;
  margin-left: 1rem;
}

.header h1,
small {
  color: #f9f2eb;
}
p,
span {
  /* margin-left: 1rem; */
  font-size: 2rem;
}
.stars {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.name {
  margin-bottom: 2rem;
}
.header,
footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  display: flex;
  align-items: center;
  background-color: #04030f;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #92817a;
}
.sort {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #92817a;
}

select {
  border-radius: 2rem;
  padding: 1rem;
  margin: 10px;
  width: 13rem;
  text-align: center;
}
#search {
  width: 60vw;
  height: 5vh;
}
.searchBar {
  background-color: #92817a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.background {
  min-height: 30vh;
  max-height: 60vh;
  background-image: url("./jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.root {
  font-size: 1.5rem;
  text-align: center;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #04030f;
}

.links,
.searchButton {
  height: 4rem;
  width: 5rem;
  border-radius: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.5rem;
  border: 1px solid white;
  cursor: pointer;
}

.links p {
  font-size: 1.5rem;
}

.links {
  background-color: #f9f2eb;
}

.logo {
  color: #f5b180;
}
.radio {
  width: 1rem;
  height: 1rem;
}

.favourite {
  border: #f9f2eb;
  background-color: #f9f2eb;
}
.heart {
  font-size: 4rem;
  cursor: pointer;
  margin-left: 1rem;
}

.stars {
  color: #362417;
}
button:hover {
  opacity: 70%;
  cursor: pointer;
  color: #f5b180;
}

select:hover {
  opacity: 70%;
  cursor: pointer;
}
input:hover {
  opacity: 70%;
  cursor: pointer;
}

.numberRating {
  border: 2px solid #f5b180;
  border-radius: 30%;
  padding: 0.2rem;
}

form {
  width: 100vw;
  background-color: #f9f2eb;
  padding: 1.5rem;
}
.index {
  background-color: #f9f2eb;
}

.signup,
.login {
  margin: 2rem;
}
.account-root {
  font-size: 1.5rem;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.email,
.password,
.submit {
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.logout {
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius: 2rem;
  padding: 1rem;
}

.favouritesDashboard {
  width: 100vw;
  line-height: 3.5rem;
}

@media screen and (min-width: 660px) {
  .results {
    display: flex;
  }
  .container,
  .restaurantInfo {
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    padding: 5rem;
  }
  .favouritesDashboard {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5rem;
  }
}
@media screen and (min-width: 800px) {
  .singleRestaurant {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5rem;
  }
}
